another_text.txt
combined.txt
customshell
file_1.txt
file_2.txt
fillertext.txt
intermediate.txt
logfile_test.txt
lorem_ipsum.txt
output.txt
/shellPrograms/output.txt
/shellPrograms/checkdaemon
/shellPrograms/countline
/shellPrograms/display
/shellPrograms/find
/shellPrograms/listdir
/shellPrograms/listdirall
/shellPrograms/summond
/shellPrograms/output_log.txt